.container {
    width: 100%;
    max-width: 130rem;
    padding: 0rem 4rem;
    display: flex;
    gap: 2rem;
}

.dashboard {
    width: 70%;
    display: subgrid;
    flex-direction: column;
    gap: 1rem;
}

.dashboardHead {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.dashboardHead>.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}