.calendar-container> div {
    margin: auto;
    width: 100%;
    max-width: 1100px;
    padding: 0rem 5rem;
}

.fc-event {
    background: var(--orange-gradient) !important;
}

.fc .fc-timegrid-slot {
    height: 2.5rem !important;
}

td {
    border: 1px solid var(--grey) !important;
}